.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    background-color: hsla(265, 100%, 50%, 0.1);
    padding: 20px;
    margin: 25px 450px 10px 450px;
    cursor: pointer;
  
    

}


.grid-container > div {
    background-color: hsla(271, 0%, 0%, 0.87);
    color: white;
    font-size: 30px;
    padding: 35px;
    text-align: center;
   font-weight: 1000;
 
    
     







}


#item1 {
    grid-column-start: 1;
    grid-column-end: 4;

}

body {
    background-image: url('3497712.jpg');

    background-size: 100%;
}


#equal {

    grid-column-start: 1;
    grid-column-end: 3;
    
    }



.thick2{
font-family: 'Poppins', sans-serif;
    
    
    
}




.thick {
 text-shadow: 0px 0px 3px #fff;
    
}
